<launch>
	<param name="initial_pose_x" value="0.514"/>
	<param name="initial_pose_y" value="-0.296"/>
	<param name="initial_pose_th" value="-0.067"/>


	<param name="target_pose_x1" value="0.514"/>
	<param name="target_pose_y1" value="-0.296"/>
	<param name="target_pose_th1" value="-0.067"/>

	<param name="target_pose_x2" value="4.476"/>
	<param name="target_pose_y2" value="-1.490"/>
	<param name="target_pose_th2" value="-0.017"/>

	<param name="target_pose_x3" value="4.295"/>
    <param name="target_pose_y3" value="1.601"/>
    <param name="target_pose_th3" value="1.710"/>
	
	<node pkg="move_forward" name="move_and_avoid_dynamic_object" type="move_and_avoid_dynamic_object" output="screen">
	</node>	

</launch>
